services:
  mariadb:
    container_name: mariadb
    image: mariadb:1337
    build: ./requirements/mariadb
    volumes:
      - mariadb_data:/var/lib/mysql
    networks:
      - inception
    env_file:
      - .env
    secrets:
      - db_user_password
      - db_root_password
    restart: always

  wordpress:
    container_name: wordpress
    image: wordpress:1337
    build: ./requirements/wordpress
    volumes:
      - wordpress_data:/var/www/html
    networks:
      - inception
    depends_on:
      - mariadb
      - redis
    env_file:
      - .env
    secrets:
      - db_user_password
      - wp_user_password
      - wp_admin_password
      - redis_password
    restart: always

  nginx:
    container_name: nginx
    image: nginx:1337
    build: ./requirements/nginx
    volumes:
      - wordpress_data:/var/www/html
    networks:
      - inception
    depends_on:
      - wordpress
    ports:
      - "443:443"
    env_file:
      - .env
    secrets:
      - nginx_cert
      - nginx_key
    restart: always

  adminer:
    container_name: adminer
    image: adminer:1337
    build: ./requirements/bonus/adminer
    networks:
      - inception
    depends_on:
      - mariadb
    ports:
      - "9090:9090"
    env_file:
      - .env
    secrets:
      - nginx_cert
      - nginx_key
    restart: always

  redis:
    container_name: redis
    image: redis:1337
    build: ./requirements/bonus/redis
    networks:
      - inception
    volumes:
      - redis_data:/var/lib/redis 
    secrets:
      - redis_password
    restart: always

  ftp:
    container_name: ftp
    image: ftp:1337
    build: ./requirements/bonus/ftp
    volumes:
      - wordpress_data:/var/www/html
    networks:
      - inception
    depends_on:
      - wordpress
    ports:
      - "21:21"
      - "21000-21010:21000-21010"
    env_file:
      - .env
    secrets:
      - ftp_user_password
    restart: always

  portainer:
    container_name: portainer
    image: portainer:1337
    build: ./requirements/bonus/portainer
    networks:
      - inception
    ports:
      - "9000:9000"
    secrets:
      - portainer_admin_password
    volumes:
      - portainer_data:/data
      - /var/run/docker.sock:/var/run/docker.sock
    restart: always

  website:
    container_name: website
    image: website:1337
    build:  ./requirements/bonus/website
    networks:
      - inception
    ports:
      - "2105:80"
    restart: always

volumes:
  wordpress_data:
    name: wordpress
    driver: local
    driver_opts:
      type: none
      device: /home/mregrag/data/wordpress
      o: bind

  mariadb_data:
    name: mariadb
    driver: local
    driver_opts:
      type: none
      device: /home/mregrag/data/mariadb
      o: bind

  redis_data:
    name: redis
    driver: local
    driver_opts:
      type: none
      device: /home/mregrag/data/redis
      o: bind

  portainer_data:
    name: portainer
    driver: local
    driver_opts:
      type: none
      device: /home/mregrag/data/portainer
      o: bind

networks:
  inception:
    name: inception_net
    driver: bridge

secrets:
  db_user_password:
    file: ../secrets/db_user_password.txt
  db_root_password:
    file: ../secrets/db_root_password.txt
  wp_admin_password:
    file: ../secrets/wp_admin_password.txt
  wp_user_password:
    file: ../secrets/wp_user_password.txt
  ftp_user_password:
    file: ../secrets/ftp_user_password.txt
  redis_password:
    file: ../secrets/redis_password.txt
  portainer_admin_password:
    file: ../secrets/portainer_admin_password.txt
  nginx_cert:
    file: ../secrets/ssl/nginx_cert.txt
  nginx_key:
    file: ../secrets/ssl/nginx_key.txt
