body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    color: #004;
    text-align: center;
    padding-top: 50px;
}
h1 {
    color: #4CAF50; /* Green */
}
main {
    background: #fff;
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
ul {
    list-style-type: none;
    padding: 0;
}
